apiVersion: 1

datasources:
  - name: ClickHouse
    type: grafana-clickhouse-datasource
    uid: clickhouse
    access: proxy
    editable: true
    isDefault: true
    jsonData:
      server: clickhouse
      port: 8123
      protocol: http
      username: default
      defaultDatabase: default
      tlsSkipVerify: true
